version: 2

defaults: &defaults
  working_directory: ~/repo
  environment:
    LC_ALL: C.UTF-8

install_hex_rebar: &install_hex_rebar
  run:
    name: Install hex and rebar
    command: |
      mix local.hex --force
      mix local.rebar --force

install_system_deps: &install_system_deps
  run:
    name: Install system dependencies
    command: |
        apk add build-base linux-headers libmnl-dev libnl3-dev git curl

jobs:
  build_elixir_1_12_otp_24:
    docker:
      - image: hexpm/elixir:1.12.3-erlang-24.1-alpine-3.14.0
    <<: *defaults
    steps:
      - checkout
      - <<: *install_hex_rebar
      - <<: *install_system_deps
      - run: mix deps.get
      - run: mix test
      - run: mix format --check-formatted
      - run: mix deps.unlock --check-unused
      - run: mix docs
      - run: mix hex.build

  build_elixir_1_11_otp_23:
    docker:
      - image: hexpm/elixir:1.11.4-erlang-23.3.4-alpine-3.13.3
    <<: *defaults
    steps:
      - checkout
      - <<: *install_hex_rebar
      - <<: *install_system_deps
      - run: mix deps.get
      - run: mix test

  build_elixir_1_10_otp_22:
    docker:
      - image: hexpm/elixir:1.10.4-erlang-22.3.4.17-alpine-3.13.3
    <<: *defaults
    steps:
      - checkout
      - <<: *install_hex_rebar
      - <<: *install_system_deps
      - run: mix deps.get
      - run: mix test

  build_elixir_1_9_otp_22:
    docker:
      - image: hexpm/elixir:1.9.4-erlang-22.3.4.18-alpine-3.13.3
    <<: *defaults
    steps:
      - checkout
      - <<: *install_hex_rebar
      - <<: *install_system_deps
      - run: mix deps.get
      - run: mix test

workflows:
  version: 2
  build_test:
    jobs:
      - build_elixir_1_12_otp_24
      - build_elixir_1_11_otp_23
      - build_elixir_1_10_otp_22
      - build_elixir_1_9_otp_22
